.Filter {
    width: 30%;
    margin: 0 0 0 30px;
    position: fixed;
}

.goup {
    top: 100px;
}

.filter-header {
    font-size: 1.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.filter-header-dark {
    color: white;
}

.filter-box-dark {
    color: white;
}

.brand-header {
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.filter-brand {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 0 15px;
}

.elem-holder {
    position: relative;
    height: 60px;
    width: 40%;
    border: 1px solid rgba(111, 111, 111, 0.362);
    border-radius: 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    /* Align elements horizontally */
    align-items: center;
    padding: 10px 20px;
    /* Adjust padding */
    margin: 10px 10px 0px 10px;
}

.filter-box-dark > .filter-brand > .elem-holder {
    border: 1px solid rgba(101, 101, 101, 0.433) !important;
}

.elem-holder>label {
    position: relative;
    text-align: center;
    left: -30px;
    width: 100%;
}


.elem-holder>input {
    width: 100px;
    opacity: 0;
}

.fa-check {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transform: translateY(-50%); 
    color: rgb(21, 89, 216);
}